<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Material</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
</head>
<body>
<h1>Kalkulator materiałów</h1>
<form id="formularz" class="pure-form pure-form-stacked">
    <fieldset>
        <legend>Obliczanie ilości i kosztu materiałów</legend>
        <div class="pure-g">
            <label for="floorMaterialsSelect"></label>
            <select id="floorMaterialsSelect" class="pure-input-1-2" multiple="multiple">
                <option th:each="material : ${materialList}" th:value="${material.name}" th:text="${material.name}"></option>
            </select>
            <label for="secondSelect"></label>
            <select id="secondSelect" class="pure-input-1-2" multiple="multiple">
            </select>
            <label for="wallsMaterialsSelect"></label>
            <select id="wallsMaterialsSelect" class="pure-input-1-2" multiple="multiple">
                <option th:each="material : ${materialList}" th:value="${material.name}" th:text="${material.name}"></option>
            </select>
            <label for="fourthSelect"></label>
            <select id="fourthSelect" class="pure-input-1-2" multiple="multiple">
            </select>
            <label for="ceilingMaterialsSelect"></label>
            <select id="ceilingMaterialsSelect" class="pure-input-1-2" multiple="multiple">
                <option th:each="material : ${materialList}" th:value="${material.name}" th:text="${material.name}"></option>
            </select>
            <label for="sixthSelect"></label>
            <select id="sixthSelect" class="pure-input-1-2" multiple="multiple">
            </select>
        </div>
        <button type="button" id="copySelect" class="pure-button pure-button-primary">Kopiuj zaznaczone</button>
    </fieldset>
</form>
<p><a href="../templates/index.html">Kalkulator powierzchni</a></p>
<p><a href="work.html">Kalkulator robocizny</a></p>
<script>
<script>
const form = document.getElementById('formularz');
const select1 = document.getElementById('firstSelect')
const select2 = document.getElementById('secondSelect');

function copyOptions() {
    if (select1.length > 0) {
        for (let i=select1.length-1; i>=0; i--){
            const option = select1.options[i];
            if (option.selected) {
                select2[select2.length] = new Option(option.innerText, option.value);
                option.remove();
            }
        }
    }
}

document.getElementById('copySelect').addEventListener('click', copyOptions)
</script>
</body>
</html>