<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Lista materiałów</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <h1>Lista materiałów</h1>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <td>Id</td>
            <td>Nazwa materiału</td>
            <td>Jednostka</td>
            <td>Zużycie na m2</td>
            <td>Cena jednostkowa</td>
            <td>Zastosowanie</td>
            <td></td>
        </tr>
        </thead>
        <tbody th:each=" material : ${materials}">
        <tr>
            <td th:text="${material.id}"></td>
            <td th:text="${material.name}"></td>
            <td th:text="${material.unit}"></td>
            <td th:text="${material.consumptionPerM2}"></td>
            <td th:text="${material.unitPrice}"></td>
            <td th:text="${material.type}"></td>
            <td><a th:href="${'/material/edit?id='+material.id}">Edytuj</a></td>
            <td><a th:href="${'/material/delete/'+material.id}">Usuń</a></td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="/material/form" role="button">Dodaj materiał</a>
    <a class="btn btn-secondary" href="/material/select" role="button">Wybór materiałów</a>
    <a class="btn btn-secondary" href="/work/select" role="button">Wybór prac</a>
    <a class="btn btn-secondary" href="/" role="button">Kalkulator powierzchni</a>
</div>
</body>
</html>