<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Kalkulator materiałów</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <h1>Kalkulator materiałów</h1>
    <form id="formularz" class="form-horizontal" th:object="${selectedMaterialsHolder}" th:action="@{/material/select}" th:method="post">

<!--        <input type="hidden" th:field="*{name}"/>-->

        <div class="row">
        <div class="col">
            <label for="floorMaterialsList">Materiały podłoga</label>
            <select th:field="*{floorItemsIds}" class="form-select" multiple aria-label="multiple select example" id="floorMaterialsList">
                <option th:each="material : ${floorMaterialsList}" th:value="${material.id}" th:text="${material.name}"></option>
            </select>
            <label for="wallsMaterialsList">Materiały ściany</label>
            <select th:field="*{wallsItemsIds}" class="form-select" multiple aria-label="multiple select example" id="wallsMaterialsList">
                <option th:each="material : ${wallsMaterialsList}" th:value="${material.id}" th:text="${material.name}"></option>
            </select>
            <label for="ceilingMaterialsList">Materiały sufit</label>
            <select th:field="*{ceilingItemsIds}" class="form-select" multiple aria-label="multiple select example" id="ceilingMaterialsList">
                <option th:each="material : ${ceilingMaterialsList}" th:value="${material.id}" th:text="${material.name}"></option>
            </select>
        </div>
<!--        <div class="col">-->
<!--            <label for="floorMaterialsSelected">Materiały podłoga</label>-->
<!--            <select class="form-select" multiple aria-label="multiple select example" id="floorMaterialsSelected"></select>-->
<!--            <label for="wallsMaterialsSelected">Materiały ściany</label>-->
<!--            <select class="form-select" multiple aria-label="multiple select example" id="wallsMaterialsSelected"></select>-->
<!--            <label for="ceilingMaterialsSelected">Materiały sufit</label>-->
<!--            <select class="form-select" multiple aria-label="multiple select example" id="ceilingMaterialsSelected"></select>-->
<!--        </div>-->
    </div>
    <button type="submit" class="btn btn-primary">Wylicz materiały</button>
<!--        <button id="copySelect" class="btn btn-secondary" role="button">Kopiuj</button>-->
        <a class="btn btn-secondary" href="/materials" role="button">Lista materiałów</a>
        <a class="btn btn-secondary" href="/work/select" role="button">Wybór prac</a>
        <a class="btn btn-secondary" href="/" role="button">Kalkulator powierzchni</a>
    </form>
</div>
<script>
    const form = document.getElementById('formularz');
    const select1 = document.getElementById('floorMaterialList')
    const select2 = document.getElementById('floorMaterialsSelected');

    function copyOptions() {
        for (const option of select1.options){
            if (option.selected) {
                select2[select2.length] = new Option(option.innerText, option.value);
            }
        }
    }
    document.getElementById('copySelect').addEventListener('click', copyOptions)
    </script>
</body>
</html>