<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Dodaj materiał</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <h1>Dodawanie materiału</h1>
    <form class="form-horizontal" th:object="${material}" th:action="@{/materials}" th:method="post">
        <div class="form-group">
            <label class="control-label">Nazwa</label>
            <input type="text" class="form-control" th:field="*{name}"/>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        </div>
        <div class="form-group">
            <label class="control-label">Jednostka:</label>
            <input type="text" class="form-control" th:field="*{unit}"/>
            <p th:if="${#fields.hasErrors('unit')}" th:errors="*{unit}"></p>
        </div>
        <div class="form-group">
            <label class="control-label">Zużycie na m2:</label>
            <input type="number" class="form-control" th:field="*{consumptionPerM2}"/>
        </div>
        <div class="form-group">
            <label class="control-label">Cena jednostkowa:</label>
            <input type="number" class="form-control" th:field="*{unitPrice}"/>
        </div>
        <div class="form-group">
            <label class="control-label">Zastosowanie:</label>
            <select class="form-select" th:field="*{type}">
                <option value="FLOOR">FLOOR</option>
                <option value="WALLS">WALLS</option>
                <option value="CEILING">CEILING</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Dodaj materiał</button>
        <a class="btn btn-secondary" href="/materials" role="button">Lista materiałów</a>
    </form>
</div>
</body>
</html>