<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Kalkulator materiałów</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">-->
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</head>
<body>
<h1>Kalkulator materiałów</h1>
<!--<legend>Obliczanie ilości i kosztu materiałów</legend>-->
<div class="container">
    <div class="row">
        <div class="col">
            <label for="floorMaterialList">Materiały podłoga</label>
            <select class="form-select" multiple aria-label="multiple select example" id="floorMaterialList">
                <option th:each="material : ${materialList}" th:value="${material.name}" th:text="${material.name}"></option>
            </select>
            <label for="wallsMaterialList">Materiały ściany</label>
            <select class="form-select" multiple aria-label="multiple select example" id="wallsMaterialList">
                <option th:each="material : ${materialList}" th:value="${material.name}" th:text="${material.name}"></option>
            </select>
            <label for="ceilingMaterialList">Materiały sufit</label>
            <select class="form-select" multiple aria-label="multiple select example" id="ceilingMaterialList">
                <option th:each="material : ${materialList}" th:value="${material.name}" th:text="${material.name}"></option>
            </select>
        </div>
        <div class="col">
            <label for="floorMaterialsSelected">Materiały podłoga</label>
            <select class="form-select" multiple aria-label="multiple select example" id="floorMaterialsSelected"></select>
            <label for="wallsMaterialsSelected">Materiały ściany</label>
            <select class="form-select" multiple aria-label="multiple select example" id="wallsMaterialsSelected"></select>
            <label for="ceilingMaterialsSelected">Materiały sufit</label>
            <select class="form-select" multiple aria-label="multiple select example" id="ceilingMaterialsSelected"></select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Wybierz materiały</button>
    <div class="row">
        <a href="/newmaterial">Dodaj nowy materiał</a>
        <a href="/materials">Lista materiałów</a>
    </div>
</div>
</body>
</html>