<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Podsumowanie wyników</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />

  <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</head>
<body>
<h1>Podsumowanie:</h1>
<label class="control-label" th:text="${roomArrays}"></label>
<table class="table">
  <thead class="thead-light">
  <tr>
    <td>Wyniki obliczeń materiałów</td>
  </tr>
  </thead>
  <tbody th:each=" String : ${materialResults}">
  <tr>
    <td th:text="${String}"></td>
  </tr>
  </tbody>
</table>
<table class="table">
  <thead class="thead-light">
  <tr>
    <td>Wyniki obliczeń robocizny</td>
  </tr>
  </thead>
  <tbody th:each=" String : ${workResults}">
  <tr>
    <td th:text="${String}"></td>
  </tr>
  </tbody>
</table>
<a class="btn btn-primary" role="button">Drukuj podsumowanie</a>
<a class="btn btn-secondary" href="/material/select" role="button">Wybór materiałów</a>
<a class="btn btn-secondary" href="/work/select" role="button">Wybór prac</a>
<a class="btn btn-secondary" href="/" role="button">Kalkulator powierzchni</a>
</body>
</html>